@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model Inventory.Models.Categories

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Destroy" asp-controller="ProductCategory" method="post">
            <div asp-validation-summary="ModelOnly" class="text-bg-danger"></div>
            <input type="hidden" asp-for="CategoryId" />

            <div class="from-group">
                <label asp-for="CategoryName" class="control-label">CategoryName</label>
                <input type="text" asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-bg-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryCode" class="control-label">CategoryCode</label>
                <input type="text" asp-for="CategoryCode" class="form-control" />
                <span asp-validation-for="CategoryCode" class="text-bg-danger"></span>
            </div>


            <div class="from-group">
                <label asp-for="CategoryDescription" class="control-label">ProductCategoryDescription</label>
                <input type="text" asp-for="CategoryDescription" class="form-control" />
                <span asp-validation-for="CategoryDescription" class="text-bg-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryImage" class="control-label">CategoryImage</label>
                <input type="text" asp-for="CategoryImage" class="form-control" />
                <span asp-validation-for="CategoryImage" class="text-bg-danger"></span>
            </div>

            <div class="from-group">
                <label asp-for="AddedBy" class="control-label">AddedBy</label>
                <input type="text" asp-for="AddedBy" class="form-control" />
                <span asp-validation-for="AddedBy" class="text-bg-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddedOn" class="control-label">AddedOn</label>
                <input type="text" asp-for="AddedOn" class="form-control" />
                <span asp-validation-for="AddedOn" class="text-bg-danger"></span>
            </div>


            <div class="from-group">
                <label asp-for="ModifiedBy" class="control-label">Modified</label>
                <input type="text" asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-bg-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedOn" class="control-label">ModifiedOn</label>
                <input type="text" asp-for="ModifiedOn" class="form-control" />
                <span asp-validation-for="ModifiedOn" class="text-bg-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit">
                    <i class="fa fa-delete"></i>
                    Delete 
                </button>
            </div>
        </form>
    </div>
</div>
<div >
    <a asp-action="Index">Back To List</a>
</div>